*{color: #fff;}
.bg{
  background-image: url('train.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.form-container{
  border:0px solid #fff;
  padding: 50px 60px;
  margin-top: 20vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.bc{
  background-image: url('signup train.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.form-contain{
  border:0px solid #fff;
  padding: 50px 60px;
  margin-top: 2vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

a{
  color: LightGray;
}
